//- catalog-item props:

//- type: 'more' / 'table' / 'table_moret'                     /// может быть пустым
//- sale: default - 'false'  /  'true'                         /// может быть пустым
//- stickers: 'sale' / 'new' / 'gift' / 'hit'                  /// может быть пустым


include ./button.pug
include ./sticker.pug
include ./price.pug
include ./rating.pug
include ./items-counter.pug

mixin catalog-item(props= 0)

  - let {type='', stickers='', name='Замечательный товар, который нужен всем людям в мире', sale= false, rating= {}} = props;

  case type

    default

      .catalog-item
        a(href="#").catalog-item__link
          .catalog-item__swiper
            .swiper-wrapper
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/photo-swiper-image-300.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
          span.catalog-item__name= name
          span.catalog-item__small-text.catalog-item__type Керамика
          span.catalog-item__small-text.catalog-item__code Код 799180
        .catalog-item__stickers
          - if (stickers != "")
            - classList+= ` button_${type}`
            each val in stickers
              +sticker({type: `${val}`})
        if rating
          +rating(rating)
        +price({sale})
        .catalog-item__checkout
          +items-counter()
          +button({type: 'circle', size: 'small', color: 'red', iconId: '#shopping-basket', otherClasses: 'catalog-item__buy buy-button'})
        +button({type: 'icon_left', size: 'extra-small', opacity: '09', iconId: '#eye', otherClasses: 'catalog-item__quick-view'})
          |Быстрый просмотр
        +button({type: 'circle', size: 'small', color: 'no-bg', iconId: '#heart', otherClasses: 'button_heart show-tooltip show-tooltip_top-right'})(data-description="Добавить товар в избранное")

    when 'more'

      .catalog-item
        a(href="#").catalog-item__link
          .catalog-item__swiper
            .swiper-wrapper
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/photo-swiper-image-300.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
          span.catalog-item__name Подставка для ножей 11х22 см Оранжевый мрамор с цветной
          span.catalog-item__small-text.catalog-item__type Керамика
          span.catalog-item__small-text.catalog-item__code Код 799180
        .catalog-item__stickers
        if rating
          +rating(rating)
        +button({color: 'gray', size: 'small', otherClasses: 'catalog-item__more'})
          |Подробнее
        +button({type: 'icon_left', size: 'extra-small', opacity: '09', iconId: '#eye', otherClasses: 'catalog-item__quick-view'})
          |Быстрый просмотр
        +button({type: 'circle', size: 'small', color: 'no-bg', iconId: '#heart', otherClasses: 'button_heart show-tooltip show-tooltip_top-right'})(data-description="Добавить товар в избранное")

    when 'table'

      .catalog-item.catalog-item_table
        a(href="#").catalog-item__link
          .catalog-item__swiper
            .swiper-wrapper
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/photo-swiper-image-300.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
        a(href="#").catalog-item__name= name
        include ../components/item-characteristics.pug
        .catalog-item__stickers
          - if (stickers != "")
            - classList+= ` button_${type}`
            each val in stickers
              +sticker({type: `${val}`})
        .catalog-item__group
          if rating
            +rating(rating)
          span.catalog-item__small-text.catalog-item__code Код 799180
        +price({sale})
        .catalog-item__checkout
          +items-counter()
          +button({type: 'circle', size: 'small', color: 'red', iconId: '#shopping-basket', otherClasses: 'catalog-item__buy buy-button'})
        +button({type: 'icon_left', size: 'extra-small', opacity: '09', iconId: '#eye', otherClasses: 'catalog-item__quick-view'})
          |Быстрый просмотр
        +button({type: 'circle', size: 'small', color: 'no-bg', iconId: '#heart', otherClasses: 'button_heart show-tooltip show-tooltip_top-right'})(data-description="Добавить товар в избранное")

    when 'table_more'

      .catalog-item.catalog-item_table
        a(href="#").catalog-item__link
          .catalog-item__swiper
            .swiper-wrapper
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
              .catalog-item__slide
                .catalog-item__image-wrapper
                  img(src="assets/img/photo-swiper-image-300.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
        a(href="#").catalog-item__name= name
        include ../components/item-characteristics.pug
        .catalog-item__stickers
          - if (stickers != "")
            - classList+= ` button_${type}`
            each val in stickers
              +sticker({type: `${val}`})
        .catalog-item__group
          if rating
            +rating(rating)
          span.catalog-item__small-text.catalog-item__code Код 799180
        +button({size: 'small', color: 'gray', otherClasses: 'catalog-item__more'})
            |Подробнее
        +button({type: 'icon_left', size: 'extra-small', opacity: '09', iconId: '#eye', otherClasses: 'catalog-item__quick-view'})
          |Быстрый просмотр
        +button({type: 'circle', size: 'small', color: 'no-bg', iconId: '#heart', otherClasses: 'button_heart show-tooltip show-tooltip_top-right'})(data-description="Добавить товар в избранное")
